force-app/main/default/flows/Account_Owner_Update_on_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_Entity_Location_Combo</name>
        <label>Create Entity Location Combo</label>
        <locationX>775</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>BranchLocationKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BranchLocationKey</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BranchLocationKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Default_Account_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Record_Found</name>
        <label>Check Record Found</label>
        <locationX>775</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Default_Account_Owner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Values</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Owner</name>
        <label>Check Record Owner</label>
        <locationX>962</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Owner_is_System_Integration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>system.integration@adg.us</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Entity_Location_Combo</targetReference>
            </connector>
            <label>Record Owner is System Integration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Values</name>
        <label>Check Record Values</label>
        <locationX>577</locationX>
        <locationY>756</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Owner_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Default_Account_Owner.Default_Account_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Default_Account_Owner.Default_Account_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Owner</targetReference>
            </connector>
            <label>Account Owner Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Owner Update on Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Owner Update on Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Default_Account_Owner</name>
        <label>Find Default Account Owner</label>
        <locationX>775</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BranchLocationKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Owner</name>
        <label>Update Account Owner</label>
        <locationX>445</locationX>
        <locationY>864</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Default_Account_Owner.Default_Account_Owner__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>446</locationX>
        <locationY>48</locationY>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_Record_Owner</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>BranchLocationKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
