force-app/main/default/flows/Account_Update_Account_name_with_Mgmt_Office_Market_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Does_Account_Contain_Market_Name</name>
        <label>Does Account Contain Market Name</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForCheckboxAcctName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_name</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Adds Mgmt Office Market Name to account name upon creation if MGMT Office market is filled out</description>
    <environments>Default</environments>
    <formulas>
        <name>ForAccountName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} +&quot; - &quot; + {!$Record.MgmtMarketDescription__c}</expression>
    </formulas>
    <formulas>
        <description>Formula to check if the account name already has market name included</description>
        <name>ForCheckboxAcctName</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS({!$Record.Name}, {!$Record.MgmtMarketDescription__c}))</expression>
    </formulas>
    <interviewLabel>Account: Update Account name with Mgmt Office Market Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Update Account name with Mgmt Office Market Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_name</name>
        <label>Update Account name</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ForAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Account_Contain_Market_Name</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124T000000DOJRQA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>MgmtMarketDescription__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Uh0000001jmHIAQ</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
