force-app/main/default/flows/Asset_Construction_Phase_Dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Construction_Phase_Changes</name>
        <label>Construction Phase Changes</label>
        <locationX>842</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phase_Changes_to_Not_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Construction_Phase__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Construction_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not_Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_All_Confirmed_Dates</targetReference>
            </connector>
            <label>Phase Changes to &apos;Not Started&apos;</label>
        </rules>
        <rules>
            <name>Phase_changes_to_Foundation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Construction_Phase__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Construction_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Foundation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Foundation_Phase_Updates</targetReference>
            </connector>
            <label>Phase changes to Foundation</label>
        </rules>
        <rules>
            <name>Phase_changes_to_Framing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Construction_Phase__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Construction_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Framing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Framing_Phase_Updates</targetReference>
            </connector>
            <label>Phase changes to Framing</label>
        </rules>
        <rules>
            <name>Phase_changes_to_Mechanical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Construction_Phase__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Construction_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mechanical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mechanical_Phase_Updates</targetReference>
            </connector>
            <label>Phase changes to Mechanical</label>
        </rules>
        <rules>
            <name>Phase_changes_to_Finish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Construction_Phase__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Construction_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade Install</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finish_Phase_Updates</targetReference>
            </connector>
            <label>Phase changes to Trade Install</label>
        </rules>
        <rules>
            <name>Phase_Changed_to_Job_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Construction_Phase__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Construction_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Completed</targetReference>
            </connector>
            <label>Phase Changed to Job Complete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateEstimatedFramingDatefromConfirmedFoundationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 24</expression>
    </formulas>
    <formulas>
        <name>EstMechanicalFromConFoundation</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 38</expression>
    </formulas>
    <formulas>
        <name>EstMechFromConfDriedIn</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 58</expression>
    </formulas>
    <formulas>
        <name>Set_To_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Asset: Construction Phase Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset: Construction Phase Dates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_All_Confirmed_Dates</name>
        <label>Clear All Confirmed Dates</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Confirmed_Finish_Install_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Foundation_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Framed_Dried_in_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Mechanical_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Foundation_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Framing_Dried_in_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Mechanical_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Finish_Phase_Updates</name>
        <label>Finish Phase Updates</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Confirmed_Finish_Install_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Mechanical_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Foundation_Phase_Updates</name>
        <label>Foundation Phase Updates</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Confirmed_Foundation_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Framed_Dried_in_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Mechanical_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Framing_Dried_in_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Mechanical_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Framing_Phase_Updates</name>
        <label>Framing Phase Updates</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Confirmed_Foundation_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Framed_Dried_in_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Mechanical_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Framing_Dried_in_Date__c</field>
            <value>
                <elementReference>CalculateEstimatedFramingDatefromConfirmedFoundationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Mechanical_Date__c</field>
            <value>
                <elementReference>EstMechanicalFromConFoundation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mechanical_Phase_Updates</name>
        <label>Mechanical Phase Updates</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Confirmed_Framed_Dried_in_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Mechanical_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Mechanical_Date__c</field>
            <value>
                <elementReference>EstMechFromConfDriedIn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_Completed</name>
        <label>Update Job Completed</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Confirmed_Finish_Install_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Construction_Phase_Changes</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
