force-app/main/default/flows/Case_Send_Email_Notification_BFW_Columbia.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BWF_Columbia_Email_Notification</name>
        <label>BWF Columbia Email Notification</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Case.Case_Unassigned_case_notification_BWF</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Unassigned_case_notification_BWF</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Entity_Location</name>
        <label>Check Entity Location</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BWF_Columbia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Columbia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G4T000000VINBUA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BWF_Columbia_Email_Notification</targetReference>
            </connector>
            <label>BWF Columbia</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Send Email Notification BFW Columbia {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Send Email Notification BFW Columbia</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Entity_Location</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
