force-app/main/default/flows/Case_Consolidated_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Case_Owner</name>
        <label>Email Case Owner</label>
        <locationX>2426</locationX>
        <locationY>1379</locationY>
        <actionName>Case.Case_Auto_assigned_case_notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Auto_assigned_case_notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_CoSprgs_CS</name>
        <label>Email CoSprgs CS</label>
        <locationX>2954</locationX>
        <locationY>1379</locationY>
        <actionName>Case.Case_Unassigned_case_notification_arlun_coSprings</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Unassigned_case_notification_arlun_coSprings</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Denver_CS</name>
        <label>Email Denver CS</label>
        <locationX>2690</locationX>
        <locationY>1379</locationY>
        <actionName>Case.Case_Unassigned_case_notification_arlun_denver</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Unassigned_case_notification_arlun_denver</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Arlun_Case</name>
        <label>Arlun Or Images Case</label>
        <locationX>2921</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>FALSE_Not Arlun/Images Case</defaultConnectorLabel>
        <rules>
            <name>TRUE_Arlun_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arlun</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Images</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Case_Manager</targetReference>
            </connector>
            <label>TRUE_Arlun/Images Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Ownership_Taken</name>
        <label>Case Ownership Change</label>
        <locationX>4340</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Case_Ownership_Taken</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseOwnerisChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type2</targetReference>
            </connector>
            <label>Case Owner Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Case_Manager</name>
        <label>Has Case Manager</label>
        <locationX>2624</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_No Case Mgr</defaultConnectorLabel>
        <rules>
            <name>TRUE_Has_Case_Mgr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Community__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Community__r.Case_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Assignment_Rule</targetReference>
            </connector>
            <label>TRUE_Has Case Mgr</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_House_Account</name>
        <label>Has House &amp; Account</label>
        <locationX>2822</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Set_Entity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Has House &amp; Account</defaultConnectorLabel>
        <rules>
            <name>TRUE_Has_House_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Community_Account</targetReference>
            </connector>
            <label>TRUE_Has House &amp; Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>House_Changed_Has_Account</name>
        <label>House Changed &amp; Has Account</label>
        <locationX>4340</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Case_Ownership_Taken</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_House Not Changed</defaultConnectorLabel>
        <rules>
            <name>TRUE_House_Changed_Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Community_Account_to_Case</targetReference>
            </connector>
            <label>TRUE_House Changed Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location</name>
        <label>Location</label>
        <locationX>2822</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Email_CoSprgs_CS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Co Springs</defaultConnectorLabel>
        <rules>
            <name>Denver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Denver_CS</targetReference>
            </connector>
            <label>Denver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue</name>
        <label>Queue</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Set_Entity_Location_BH4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Charleston (BWF)</defaultConnectorLabel>
        <rules>
            <name>DFW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner_is_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Floors DFW Customer Care Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Entity_Location</targetReference>
            </connector>
            <label>DFW</label>
        </rules>
        <rules>
            <name>Austin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner_is_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Floors Austin Customer Care Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Entity_Location_BH</targetReference>
            </connector>
            <label>Austin</label>
        </rules>
        <rules>
            <name>San_Antonio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner_is_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Floors San Antonio Customer Care Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Entity_Location_BH2</targetReference>
            </connector>
            <label>San Antonio</label>
        </rules>
        <rules>
            <name>Houston</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner_is_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Floors Houston Customer Care Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Entity_Location_BH3</targetReference>
            </connector>
            <label>Houston</label>
        </rules>
        <rules>
            <name>Images</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner_is_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arlun Warranty/Occupied Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Entity_Location_BH9</targetReference>
            </connector>
            <label>Images</label>
        </rules>
    </decisions>
    <decisions>
        <description>If record is created, all nodes/actions on the Case Create PB will run, if record is updated, all nodes/actions on the Case Create/Edit PB will run. Omitted nodes/actions: Case From QC (didn&apos;t work and not needed), FMS Support notifications also not needed</description>
        <name>Record_is_Created_or_Updated</name>
        <label>Record is Created or Updated</label>
        <locationX>3053</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>House_Changed_Has_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record is Edited</defaultConnectorLabel>
        <rules>
            <name>Record_is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRec</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type</targetReference>
            </connector>
            <label>Record is Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>1766</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Has_House_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard Case</defaultConnectorLabel>
        <rules>
            <name>EmailToCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124T000000DQXUQA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue</targetReference>
            </connector>
            <label>EmailToCase</label>
        </rules>
        <rules>
            <name>TRUE_Is_FMS_Support_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124T000000LsVcQAK</stringValue>
                </rightValue>
            </conditions>
            <label>FMS Support Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type2</name>
        <label>Record Type</label>
        <locationX>4142</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Stamp_Case_Ownership_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FMS_Support_CAse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124T000000LsVcQAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <label>FMS Support Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>Eastern Standard Time, Central Standard Time, Mountain Standard Time, Pacific Standard Time</description>
        <name>Set_Entity</name>
        <label>Determine Entity &amp; Time Zone</label>
        <locationX>2822</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EST</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR (7 AND 8))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Heritage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCCV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Markraft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Location__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Nashville</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_2</targetReference>
            </connector>
            <label>EST</label>
        </rules>
        <rules>
            <name>CST</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR (7 AND 8))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Floors</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malibu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dixie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Metro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Markraft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nashville</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CST_Update_Fields</targetReference>
            </connector>
            <label>CST</label>
        </rules>
        <rules>
            <name>MST</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arlun</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Images</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>McDade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MST_Update_Fields</targetReference>
            </connector>
            <label>MST</label>
        </rules>
        <rules>
            <name>PST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vintage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PST_Update_Fields</targetReference>
            </connector>
            <label>PST</label>
        </rules>
    </decisions>
    <description>This flow combines two previous process builders into a single flow: Case: On Create and Case: On Create and Edit</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseMgrID</name>
        <dataType>String</dataType>
        <expression>{!$Record.Community__r.Case_Manager__c}</expression>
    </formulas>
    <formulas>
        <name>CaseOwnerisChanged</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(ISCHANGED({!$Record.OwnerId}), ISCHANGED({!$Record.Owner_is_Queue__c})), NOT(ISBLANK({!$Record.Owner:User.Id})))</expression>
    </formulas>
    <formulas>
        <name>IsNewRec</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SetDateTimetoNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Case: Consolidated Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Consolidated Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_Community_Account_to_Case</name>
        <label>Add Community &amp; Account to Case</label>
        <locationX>4208</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Case_Ownership_Taken</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community__c</field>
            <value>
                <elementReference>$Record.Asset.Community__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CST_Update_Fields</name>
        <label>CST_Update Fields</label>
        <locationX>2162</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m4T000000CbTj</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>$Record.Asset.Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Asset.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MST_Update_Fields</name>
        <label>MST_Update Fields</label>
        <locationX>2921</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Arlun_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m4T000000CbTo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>$Record.Asset.Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Asset.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PST_Update_Fields</name>
        <label>PST_Update Fields</label>
        <locationX>3482</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m4T000000CbTt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>$Record.CreatedBy.Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.CreatedBy.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Entity_Location</name>
        <label>Set Entity/Location/BH</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m4T000000CbTj</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <stringValue>Floors</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>DFW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Entity_Location_BH</name>
        <label>Set Entity/Location/BH</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m4T000000CbTj</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <stringValue>Floors</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>Austin</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Entity_Location_BH2</name>
        <label>Set Entity/Location/BH</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m4T000000CbTj</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <stringValue>Floors</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>San Antonio</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Entity_Location_BH3</name>
        <label>Set Entity/Location/BH</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m4T000000CbTj</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <stringValue>Floors</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>Houston</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Entity_Location_BH4</name>
        <label>Set Entity/Location/BH</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m4T0000008xMr</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <stringValue>BWF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>Charleston</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Entity_Location_BH9</name>
        <label>Set Entity/Location/BH</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m4T000000CbTo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <stringValue>Images</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>Denver</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Case_Ownership_Date</name>
        <label>Stamp Case Ownership Date</label>
        <locationX>4274</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Case_Ownership_Date__c</field>
            <value>
                <elementReference>SetDateTimetoNow</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Assignment_Rule</name>
        <label>Update Case Owner / Assignment Rule</label>
        <locationX>2426</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Email_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CaseMgrID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fire_Assignment_Rule__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CaseMgrID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Community_Account</name>
        <label>Update Community &amp; Account</label>
        <locationX>2690</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Set_Entity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community__c</field>
            <value>
                <elementReference>$Record.Asset.Community__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>EST_Update Fields</label>
        <locationX>1898</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m4T0000008xMr</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>$Record.CreatedBy.Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.CreatedBy.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>4010</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2927</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_is_Created_or_Updated</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
