force-app/main/default/flows/Case_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Charlotte_CS</name>
        <label>Notify Charlotte CS</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>Case.X8_Hour_Case_Escalation_Alert_CH</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.X8_Hour_Case_Escalation_Alert_CH</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Grafton_CS</name>
        <label>Notify Grafton CS</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <actionName>Case.X8_Hour_Case_Escalation_Alert_GR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.X8_Hour_Case_Escalation_Alert_GR</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Greensboro_CS</name>
        <label>Notify Greensboro CS</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>Case.X8_Hour_Case_Escalation_Alert_GO</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.X8_Hour_Case_Escalation_Alert_GO</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_ILM_CS</name>
        <label>Notify ILM CS</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <actionName>Case.X8_Hour_Case_Escalation_Alert_WI</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.X8_Hour_Case_Escalation_Alert_WI</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_MB_CS</name>
        <label>Notify MB CS</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <actionName>Case.X8_Hour_Case_Escalation_Alert_MB</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.X8_Hour_Case_Escalation_Alert_MB</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Penn_CS</name>
        <label>Notify Penn CS</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <actionName>Case.X8_Hour_Case_Escalation_Alert_PN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.X8_Hour_Case_Escalation_Alert_PN</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Raleigh_CS</name>
        <label>Notify Raleigh CS</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <actionName>Case.X8_Hour_Case_Escalation_Alert_RA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.X8_Hour_Case_Escalation_Alert_RA</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Determine_Location</name>
        <label>Determine Location</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BWF_Charlotte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Notification_Setting.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a194T000001SibQQAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Charlotte_CS</targetReference>
            </connector>
            <label>BWF Charlotte</label>
        </rules>
        <rules>
            <name>BWF_Greensboro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Notification_Setting.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a194T000001SibIQAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Greensboro_CS</targetReference>
            </connector>
            <label>BWF Greensboro</label>
        </rules>
        <rules>
            <name>BWF_Myrtle_Beach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Notification_Setting.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a194T000001SibUQAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_MB_CS</targetReference>
            </connector>
            <label>BWF Myrtle Beach</label>
        </rules>
        <rules>
            <name>BWF_Wilmington</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Notification_Setting.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a194T000001SibOQAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_ILM_CS</targetReference>
            </connector>
            <label>BWF Wilmington</label>
        </rules>
        <rules>
            <name>BWF_Raleigh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Notification_Setting.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a194T000001SibRQAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Raleigh_CS</targetReference>
            </connector>
            <label>BWF Raleigh</label>
        </rules>
        <rules>
            <name>WCCV_Grafton</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Notification_Setting.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a194T000001SibMQAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Grafton_CS</targetReference>
            </connector>
            <label>WCCV Grafton</label>
        </rules>
        <rules>
            <name>WCCV_Peninsula</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Notification_Setting.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a194T000001SibYQAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Penn_CS</targetReference>
            </connector>
            <label>WCCV Peninsula</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_ON_OFF</name>
        <label>Notification ON / OFF?</label>
        <locationX>1568</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>OFF</defaultConnectorLabel>
        <rules>
            <name>ON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Notification_Setting.Escalated_Case_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Location</targetReference>
            </connector>
            <label>ON</label>
        </rules>
    </decisions>
    <description>This flow checks branch location records for settings and sends email notifications for escalated cases based on those notification settings.</description>
    <environments>Default</environments>
    <interviewLabel>Case Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Searches branch location and finds the setting for that location</description>
        <name>Get_Notification_Setting</name>
        <label>Get Notification Setting</label>
        <locationX>1568</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_ON_OFF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Entity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch_Location__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Escalated_Case_Notifications__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Notification_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsEscalated</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsEscalated</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
