force-app/main/default/flows/Clone_Create_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Memberships_into_a_List</name>
        <label>Add Memberships into a List</label>
        <locationX>1166</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>varRMemberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRMembership</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Membership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_to_Public_Group_or_Queue</name>
        <label>Add User to Public Group or Queue</label>
        <locationX>1332</locationX>
        <locationY>845</locationY>
        <assignmentItems>
            <assignToReference>varRMembership.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Membership.GroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRMembership.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Cloned_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Memberships_into_a_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_User_to_PSA</name>
        <label>Map User to PSA</label>
        <locationX>1268</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>varPSAClone.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_PSA.PermissionSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPSAClone.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Cloned_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PSA_2_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PSA_2_List</name>
        <label>PSA 2 List</label>
        <locationX>1075</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>varRPSAs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPSAClone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_PSA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Clone_Public_Group_Or_Queue</name>
        <label>Clone Public Group Or Queue</label>
        <locationX>762</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>Add_Permission_Sets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Clone GroupMembers</defaultConnectorLabel>
        <rules>
            <name>Yes_Clone_GroupMembers</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Public_Group_Membership</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Queue_Memberships</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Membership</targetReference>
            </connector>
            <label>Yes Clone GroupMembers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Membership_Found</name>
        <label>Does Membership Found</label>
        <locationX>921</locationX>
        <locationY>463</locationY>
        <defaultConnectorLabel>GroupMembershipNOTFound</defaultConnectorLabel>
        <rules>
            <name>GroupMembershipFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Membership</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Membership</targetReference>
            </connector>
            <label>GroupMembershipFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Execute_Selected_Options</name>
        <label>Execute Selected Options</label>
        <locationX>759</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Clone_Public_Group_Or_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Clone PermissionSets</defaultConnectorLabel>
        <rules>
            <name>Clone_Permission_Sets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permission_Set_Assignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_User_Permission_Sets</targetReference>
            </connector>
            <label>Yes Clone PermissionSets</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOwnerByProfile</name>
        <label>IsOwnerByProfile</label>
        <locationX>1372</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_PSA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotOwnedByProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_PSA.PermissionSet.IsOwnedByProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_User_to_PSA</targetReference>
            </connector>
            <label>NotOwnedByProfile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permissions_Found</name>
        <label>Permissions Found</label>
        <locationX>1166</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permissions_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_User_Permission_Sets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_PSA</targetReference>
            </connector>
            <label>Permissions exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_vs_Public_Group</name>
        <label>Queue vs Public Group</label>
        <locationX>1322</locationX>
        <locationY>642</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Public_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Membership.Group.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regular</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Public_Group_Membership</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_to_Public_Group_or_Queue</targetReference>
            </connector>
            <label>Public Group</label>
        </rules>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Membership.Group.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Queue_Memberships</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_to_Public_Group_or_Queue</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Entity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Entity__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Location</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Location__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Clone Create User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Create User</label>
    <loops>
        <name>Loop_Through_Membership</name>
        <label>Loop Through Membership</label>
        <locationX>1167</locationX>
        <locationY>617</locationY>
        <collectionReference>Find_Membership</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Queue_vs_Public_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Membership_Queues_and_Public_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_PSA</name>
        <label>Loop Through PSA</label>
        <locationX>1172</locationX>
        <locationY>234</locationY>
        <collectionReference>Get_Existing_User_Permission_Sets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsOwnerByProfile</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clone_Public_Group_Or_Queue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Membership_Queues_and_Public_Groups</name>
        <label>Add Membership (Queues and Public Groups)</label>
        <locationX>863</locationX>
        <locationY>625</locationY>
        <connector>
            <targetReference>Add_Permission_Sets</targetReference>
        </connector>
        <inputReference>varRMemberships</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Add_Permission_Sets</name>
        <label>Add Permission Sets</label>
        <locationX>506</locationX>
        <locationY>626</locationY>
        <inputReference>varRPSAs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Cloned_User</name>
        <label>Create Cloned User</label>
        <locationX>648</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Execute_Selected_Options</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <elementReference>Get_User_to_Clone.EmailEncodingKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>UserEntity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <elementReference>Get_User_to_Clone.LanguageLocaleKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>Get_User_to_Clone.LocaleSidKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>UserLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Get_User_to_Clone.ProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>Get_User_to_Clone.TimeZoneSidKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <elementReference>Get_User_to_Clone.UserRoleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>UserName.value</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Membership</name>
        <label>Find Membership</label>
        <locationX>773</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Membership_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_User_Permission_Sets</name>
        <label>Get Existing User Permission Sets</label>
        <locationX>1006</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permissions_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_to_Clone</name>
        <label>Get User to Clone</label>
        <locationX>405</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Get_User_Info</name>
        <label>Get User Info</label>
        <locationX>520</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Cloned_User</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Cloning: {!Get_User_to_Clone.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Get_User_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Get_User_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>UserName</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>UserName</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Alias</name>
                    <dataType>String</dataType>
                    <fieldText>Alias</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>NickName</name>
                    <dataType>String</dataType>
                    <fieldText>NickName</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Get_User_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Options</name>
                    <fieldText>&lt;p&gt;Select Options&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Permission_Set_Assignment</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Permission Set Assignment</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Queue_Memberships</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Queue Memberships</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Public_Group_Membership</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Public Group Membership</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>UserEntity</name>
                    <choiceReferences>Entity</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User_to_Clone.Entity__c</elementReference>
                    </defaultValue>
                    <fieldText>Entity</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>UserLocation</name>
                    <choiceReferences>Location</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User_to_Clone.Location__c</elementReference>
                    </defaultValue>
                    <fieldText>Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>38</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User_to_Clone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPSAClone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>varRMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varRMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varRPSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
