force-app/main/default/flows/Community_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Community_Status</name>
        <label>Check Community Status</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Community_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Branch_Location_Record</targetReference>
            </connector>
            <label>isNew</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Created_or_Updated</name>
        <label>Check Created or Updated</label>
        <locationX>611</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Is Updated</defaultConnectorLabel>
        <rules>
            <name>Is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Community_Status</targetReference>
            </connector>
            <label>Is Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Branch_Location_Record</name>
        <label>Found Branch Location Record</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Branch_Location_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Community_Record_Values</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BranchLocationName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Entity__c}) + &apos; - &apos; + TEXT({!$Record.Location__c})</expression>
    </formulas>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Community Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Community Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Branch_Location_Record</name>
        <label>Get Branch Location Record</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Branch_Location_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BranchLocationName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Community_Record_Values</name>
        <label>Update Community Record Values</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Community_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Service_Manager__c</field>
            <value>
                <elementReference>Get_Branch_Location_Record.Orphaned_House_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QC_Carpet_Install__c</field>
            <value>
                <elementReference>Get_Branch_Location_Record.QC_Carpet_Install__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QC_Floor_Wall_Tile_Install__c</field>
            <value>
                <elementReference>Get_Branch_Location_Record.QC_Floor_Wall_Tile_Install__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QC_Wood_Install__c</field>
            <value>
                <elementReference>Get_Branch_Location_Record.QC_Wood_Install__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Created_or_Updated</targetReference>
        </connector>
        <object>Community__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CreateBranchLocationSearch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
