force-app/main/default/flows/Complete_QC_Records_from_FSL_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>choiceApproved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCutsTightAroundPlugs</name>
        <choiceText>{!objTheSelectedQCRecord.Cuts_tight_around_plugs__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Cuts_tight_around_plugs__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDamageToBaseboards</name>
        <choiceText>{!objTheSelectedQCRecord.Damage_to_baseboards__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Damage_to_baseboards__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultActionNeeded</name>
        <choiceText>{!objTheSelectedQCRecord.Action_Needed__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Action_Needed__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultAreCabinetsInstalled</name>
        <choiceText>{!objTheSelectedQCRecord.Are_Cabinets_Installed__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Are_Cabinets_Installed__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultAreCabinetsLevelAndSquare</name>
        <choiceText>{!objTheSelectedQCRecord.Are_cabinets_level_and_square__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Are_cabinets_level_and_square__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultAreCorbelsWhereNeeded</name>
        <choiceText>{!objTheSelectedQCRecord.Are_corbels_where_needed__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Are_corbels_where_needed__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultAreCountertopsInstalled</name>
        <choiceText>{!objTheSelectedQCRecord.Are_Countertops_Installed__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Are_Countertops_Installed__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultAreSeamsProperlyDone</name>
        <choiceText>{!objTheSelectedQCRecord.Are_seams_properly_done__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Are_seams_properly_done__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultAreTubsInGoodCondition</name>
        <choiceText>{!objTheSelectedQCRecord.Are_Tubs_in_Good_Condition__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Are_Tubs_in_Good_Condition__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultBacksplashRanToEdgeOfCounterTop</name>
        <choiceText>{!objTheSelectedQCRecord.Backsplash_ran_to_edge_of_counter_top__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Backsplash_ran_to_edge_of_counter_top__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultBetweenTileAndTubPanAndNoGrout</name>
        <choiceText>{!objTheSelectedQCRecord.X1_8_between_tile_tub_pan_no_grout__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.X1_8_between_tile_tub_pan_no_grout__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultCheckSlabTolerance</name>
        <choiceText>{!objTheSelectedQCRecord.Check_Slab_Tolerance__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Check_Slab_Tolerance__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultCheckWallsForPlumb</name>
        <choiceText>{!objTheSelectedQCRecord.Check_Walls_for_Plumb__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Check_Walls_for_Plumb__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultChippedTiles</name>
        <choiceText>{!objTheSelectedQCRecord.Chipped_tiles__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Chipped_tiles__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultChippedTilesAtCutEdges</name>
        <choiceText>{!objTheSelectedQCRecord.Chipped_tiles_at_cut_edges__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Chipped_tiles_at_cut_edges__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultcutsNeatAndCleanAroundWindowsAndSills</name>
        <choiceText>{!objTheSelectedQCRecord.Cuts_neat_clean_around_windows_sills__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Cuts_neat_clean_around_windows_sills__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultDamageCabinetsDoorsWalls</name>
        <choiceText>{!objTheSelectedQCRecord.Damage_cabinets_doors_walls__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Damage_cabinets_doors_walls__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultDamageToCabinetsCountersAndSink</name>
        <choiceText>{!objTheSelectedQCRecord.Damage_to_cabinets_counters_sink__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Damage_to_cabinets_counters_sink__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultDamageToTubsAndPans</name>
        <choiceText>{!objTheSelectedQCRecord.Damage_to_tubs_pans__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Damage_to_tubs_pans__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultDecoLevelAndEven</name>
        <choiceText>{!objTheSelectedQCRecord.Deco_level_and_even__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Deco_level_and_even__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultDidWeMeetBuilderSpecifications</name>
        <choiceText>{!objTheSelectedQCRecord.Did_we_meet_builder_specifications__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Did_we_meet_builder_specifications__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultDishwasherClipsBuilderRequirement</name>
        <choiceText>{!objTheSelectedQCRecord.Dishwasher_clips_builder_requirements__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Dishwasher_clips_builder_requirements__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultDoesItNeedAnInspectionByCounty</name>
        <choiceText>{!objTheSelectedQCRecord.Does_it_need_an_inspection_by_county__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Does_it_need_an_inspection_by_county__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultDoesShowerBathNeedFieldMeasure</name>
        <choiceText>{!objTheSelectedQCRecord.Does_Shower_Bath_Need_Field_Measure__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Does_Shower_Bath_Need_Field_Measure__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultDoesTheSinkHaveClips</name>
        <choiceText>{!objTheSelectedQCRecord.Does_the_sink_have_clips__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Does_the_sink_have_clips__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultDoorJambsUnderCut</name>
        <choiceText>{!objTheSelectedQCRecord.Door_jambs_under_cut__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Door_jambs_under_cut__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultDoorsRehungHingePindsAndDoorStops</name>
        <choiceText>{!objTheSelectedQCRecord.Doors_rehung_hinge_pins_door_stops__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Doors_rehung_hinge_pins_door_stops__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultDoTheyHaveHeatTempOrPerm</name>
        <choiceText>{!objTheSelectedQCRecord.Do_they_have_heat_temp_or_permanent__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Do_they_have_heat_temp_or_permanent__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultElectricalCordsInGoodWorkingOrder</name>
        <choiceText>{!objTheSelectedQCRecord.Electrical_cords_in_good_working_order__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Electrical_cords_in_good_working_order__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultExtraMaterialInAtticDesignatedAreas</name>
        <choiceText>{!objTheSelectedQCRecord.Extra_material_in_attic_designated_area__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Extra_material_in_attic_designated_area__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultEyeProtection</name>
        <choiceText>{!objTheSelectedQCRecord.Using_eye_protection_hard_hats__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Using_eye_protection_hard_hats__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChoiceDefaultFaceAndHearthPerDiagram</name>
        <choiceText>{!objTheSelectedQCRecord.Face_hearth_per_diagram__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Face_hearth_per_diagram__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultFloorCleanAndFreeOfGlue</name>
        <choiceText>{!objTheSelectedQCRecord.Floor_clean_free_of_glue__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Floor_clean_free_of_glue__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultFloorPlanMatches</name>
        <choiceText>{!objTheSelectedQCRecord.Floor_plan_matches_actual_site__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Floor_plan_matches_actual_site__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultFloorsCovered</name>
        <choiceText>{!objTheSelectedQCRecord.Floors_covered__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Floors_covered__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultFreeOfGroutHaze</name>
        <choiceText>{!objTheSelectedQCRecord.Free_of_grout_haze__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Free_of_grout_haze__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultGapsAtBase</name>
        <choiceText>{!objTheSelectedQCRecord.Gaps_at_base__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Gaps_at_base__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultGapsAtStairs</name>
        <choiceText>{!objTheSelectedQCRecord.Gaps_at_stairs__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Gaps_at_stairs__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultGroutFilledAtTopOfShowers</name>
        <choiceText>{!objTheSelectedQCRecord.Grout_filled_at_top_of_showers__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Grout_filled_at_top_of_showers__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultGroutVoids</name>
        <choiceText>{!objTheSelectedQCRecord.Gout_voids__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Gout_voids__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultHouseGaragePerimeterCleanOfTrash</name>
        <choiceText>{!objTheSelectedQCRecord.House_garage_perimeter_clean_of_trash__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.House_garage_perimeter_clean_of_trash__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultInstalledFlatWithIndustrySpecs</name>
        <choiceText>{!objTheSelectedQCRecord.Installed_flat_with_industry_specs__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Installed_flat_with_industry_specs__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultInstalledPerDiagram</name>
        <choiceText>{!objTheSelectedQCRecord.Installed_per_diagram__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Installed_per_diagram__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultInstalledSquareToRoom</name>
        <choiceText>{!objTheSelectedQCRecord.Installed_square_to_room__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Installed_square_to_room__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultIsGroutColorSameThroughout</name>
        <choiceText>{!objTheSelectedQCRecord.Is_grout_color_same_throughout__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Is_grout_color_same_throughout__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultIsHousePainted</name>
        <choiceText>{!objTheSelectedQCRecord.Is_House_Painted__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Is_House_Painted__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultIsTheSplashCaulked</name>
        <choiceText>{!objTheSelectedQCRecord.Is_the_splash_caulked__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Is_the_splash_caulked__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultIsTheTubDeckReadyForInstall</name>
        <choiceText>{!objTheSelectedQCRecord.Is_Tub_Deck_Ready_for_Install__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Is_Tub_Deck_Ready_for_Install__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultIsTileFullyBonded</name>
        <choiceText>{!objTheSelectedQCRecord.Is_Tile_fully_bonded__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Is_Tile_fully_bonded__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultIsTrimBaseboardsInstalled</name>
        <choiceText>{!objTheSelectedQCRecord.Is_trim_baseboards_installed__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Is_trim_baseboards_installed__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultJointSpacingRowtoRow</name>
        <choiceText>{!objTheSelectedQCRecord.Joint_spacing_between_boards_row_to_row__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Joint_spacing_between_boards_row_to_row__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultPanSquare</name>
        <choiceText>{!objTheSelectedQCRecord.Pan_square__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Pan_square__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultProperSpacingAtBaseboardsAndFirePlace</name>
        <choiceText>{!objTheSelectedQCRecord.Proper_spacing_at_baseboards_fireplace__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Proper_spacing_at_baseboards_fireplace__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultProtectingGarageFloorWhileMixAndCutting</name>
        <choiceText>{!objTheSelectedQCRecord.Protecting_grg_floor_while_mix_cutting__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Protecting_grg_floor_while_mix_cutting__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultSeamsAcceptable</name>
        <choiceText>{!objTheSelectedQCRecord.Seams_acceptable__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Seams_acceptable__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultSeamSealerInstalled</name>
        <choiceText>{!objTheSelectedQCRecord.Seam_sealer_installed__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Seam_sealer_installed__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultShowerPanReadyAndDrainWeSupply</name>
        <choiceText>{!objTheSelectedQCRecord.Shower_pan_ready_have_drain_we_supply__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Shower_pan_ready_have_drain_we_supply__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultStainedShoeTrimStairnoseMatch</name>
        <choiceText>{!objTheSelectedQCRecord.Stained_shoe_trim_stairnose_match__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Stained_shoe_trim_stairnose_match__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultStatus</name>
        <choiceText>{!objTheSelectedQCRecord.Status__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Status__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultStatusMobile</name>
        <choiceText>{!objTheSelectedQCRecord.Status_Mobile__c</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Status_Mobile__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultTileCutOffOnCorrectSideDoorJamb</name>
        <choiceText>{!objTheSelectedQCRecord.Tile_cut_off_on_correct_side_door_jamb__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Tile_cut_off_on_correct_side_door_jamb__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultTrimInstalled</name>
        <choiceText>{!objTheSelectedQCRecord.Trim_Installed__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Trim_Installed__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultTrimmedOut</name>
        <choiceText>{!objTheSelectedQCRecord.Trimmed_out__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Trimmed_out__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultTubsAndPansCoveredProtected</name>
        <choiceText>{!objTheSelectedQCRecord.Tubs_pans_covered_protected__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Tubs_pans_covered_protected__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultWallBoardInstalledWScrewsAndSpacing</name>
        <choiceText>{!objTheSelectedQCRecord.Wall_board_installed_w_screws_spacing__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Wall_board_installed_w_screws_spacing__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultWeepHolesClearAndFreeOfGrout</name>
        <choiceText>{!objTheSelectedQCRecord.Weep_holes_clear_free_of_grout__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Weep_holes_clear_free_of_grout__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceDone</name>
        <choiceText>Done</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Done</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNA</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNeedsAdjustment</name>
        <choiceText>Needs Adjustment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Adjustment</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNone</name>
        <choiceText>-None-</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicesDefaultGroutJointsProperlySpaced</name>
        <choiceText>{!objTheSelectedQCRecord.Grout_joints_properly_spaced__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objTheSelectedQCRecord.Grout_joints_properly_spaced__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceStatusCompleted</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceStatusInProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceStatusNotStarted</name>
        <choiceText>Not Started</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Started</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>constPleaseSelectValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please select a value</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Done</name>
        <label>Done?</label>
        <locationX>1165</locationX>
        <locationY>557</locationY>
        <defaultConnector>
            <targetReference>Update_Single_QC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Done</defaultConnectorLabel>
        <rules>
            <name>Yes_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QC_Radio_Buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Done</targetReference>
            </connector>
            <label>Yes Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasHouseAssetId</name>
        <label>HasHouseAssetId</label>
        <locationX>723</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>No_House_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Have House</defaultConnectorLabel>
        <rules>
            <name>Has_House_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objWorkOrder.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_QC_Record</targetReference>
            </connector>
            <label>Has House Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasQCRecords</name>
        <label>HasQCRecords</label>
        <locationX>962</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>No_QC_Records_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No QC Records Found</defaultConnectorLabel>
        <rules>
            <name>Has_A_QC_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objTempSingleQCRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_QC_Record_To_Complete</targetReference>
            </connector>
            <label>Has A QC Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>routeforqc</name>
        <label>routeforqc?</label>
        <locationX>1503</locationX>
        <locationY>553</locationY>
        <defaultConnector>
            <targetReference>Saved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>err</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QC_Error</targetReference>
            </connector>
            <label>err</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceQCRecords</name>
        <dataType>String</dataType>
        <displayField>QCType__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>House_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objWorkOrder.AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Quality_Control__c</object>
        <sortField>QCType__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pchoiceApproveOrAdjustment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Check_Walls_for_Plumb__c</picklistField>
        <picklistObject>Quality_Control__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pchoiceAre_Cabinets_Installed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Are_Cabinets_Installed__c</picklistField>
        <picklistObject>Quality_Control__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pchoiceDoes_Shower_Bath_Need_Field_Measure</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_Shower_Bath_Need_Field_Measure__c</picklistField>
        <picklistObject>Quality_Control__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Comlete QC Records from FSL Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complete QC Records from FSL Mobile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Single_QC_Record</name>
        <label>Get Single QC Record</label>
        <locationX>969</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasQCRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>House_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objWorkOrder.AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Quality_Control__c</object>
        <outputReference>objTempSingleQCRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>575</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasHouseAssetId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>objWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
    </recordLookups>
    <screens>
        <name>All_Done</name>
        <label>All Done</label>
        <locationX>1001</locationX>
        <locationY>555</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>All_Good_Text</name>
            <fieldText>&lt;p&gt;Thank you. You are all done. Click Finish to close out of the wizard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_House_Records</name>
        <label>No House Records</label>
        <locationX>731</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Has_No_House_Asset_Text</name>
            <fieldText>&lt;p&gt;This Work Order does not have a House/Unit.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_QC_Records_Found</name>
        <label>No QC Records Found</label>
        <locationX>721</locationX>
        <locationY>403</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_QC_Records_Found_Text</name>
            <fieldText>&lt;p&gt;There are no Quality Control records for this House/Unit.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>QC_Error</name>
        <label>QC Error</label>
        <locationX>1510</locationX>
        <locationY>718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Single_QC</targetReference>
        </connector>
        <fields>
            <name>QC_Carpet_Install_Error_Message_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(62, 62, 60);&quot;&gt;You had an error in your data entry. Please check for the following errors:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif;&quot;&gt;Every radio button or picklist must have a value other than &quot;Please select a value&quot;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(62, 62, 60);&quot;&gt;Please select Back to update the form and try to submit your replies again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Saved</name>
        <label>Saved</label>
        <locationX>1511</locationX>
        <locationY>340</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Single_QC_Record</targetReference>
        </connector>
        <fields>
            <name>Completed_Saved_Message</name>
            <fieldText>&lt;p&gt;Your QC Form has been saved&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Which_QC_Record_To_Complete</name>
        <label>Which QC Record To Complete</label>
        <locationX>1174</locationX>
        <locationY>405</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <fields>
            <name>QC_Radio_Buttons</name>
            <choiceReferences>choiceQCRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Quality Control record do you want to complete?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>152</locationX>
        <locationY>209</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Single_QC</name>
        <label>Update Single QC</label>
        <locationX>1370</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>routeforqc</targetReference>
        </connector>
        <flowName>QC_Update_from_FSL_App_SubFlow</flowName>
        <inputAssignments>
            <name>QCId</name>
            <value>
                <elementReference>QC_Radio_Buttons</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>isValid</assignToReference>
            <name>validatepass</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>{!objTheSelectedQCRecord.Cabinet_Installation_Notes__c}</description>
        <name>choiceDefaultCabinetInstallationNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Cabinet_Installation_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>colFileCabinetConditionPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileCabinetInstallationPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileCountertopPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileExtraMaterialPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileFloorWallInstallClearOfTrashPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileFloorWallInstallGapPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileGarageAndPerimeterCleanPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileGarageClean_CarpetPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileGaragePictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileHousePaintedPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFilePanSquarePictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileProperSpacingBaseboardPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileShoweBathFieldMeasurePictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileSlabAdjPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileTrimBaseboardPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileTubConditionPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileTubDeckPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFileWallPlumbPicture</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>objTempSingleQCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quality_Control__c</objectType>
    </variables>
    <variables>
        <name>objTheSelectedQCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quality_Control__c</objectType>
    </variables>
    <variables>
        <name>objWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varConcatCabinetConditionFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatCabinetInstallationFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatCountertopFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatExtraMaterialFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatExtraSpacingBaseBoardFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatFileFloorWallInstallGapFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatFloorWallInstallClearOfTrashFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatFloorWallInstallPanFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatGarageAndPerimeterCleanFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatGarageFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatHousePaintedFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatPanSquareFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatShowerBathFieldMeasureFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatSlabAdjFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatTrimBaseboardFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatTubConditionFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatTubDeckFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConcatWallPlumbFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.X1_8_between_tile_tub_pan_Notes__c}</description>
        <name>variableDefault18BetweenTileAndTubPanNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.X1_8_between_tile_tub_pan_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Backsplash_Notes__c}</description>
        <name>variableDefaultBacksplashNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Backsplash_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Bathroom_Notes__c}</description>
        <name>variableDefaultBathroomNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Bathroom_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Builder_Spec_Notes__c}</description>
        <name>variableDefaultBuilderSpecNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Builder_Spec_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Cabinet_Condition_Notes__c}</description>
        <name>variableDefaultCabinetConditionNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Cabinet_Condition_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Cabinets_counter_tops_sink_Notes__c}</description>
        <name>variableDefaultCabinetsCounterTopsAndSinkNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Cabinets_counter_tops_sink_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultCabinetsLevelAndSquareNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Cabinets_level_and_square_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Check_Slab_Tolerance__c}</description>
        <name>variableDefaultCheckSlabTolerance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Check_Slab_Tolerance__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Chipped_tile_Notes__c}</description>
        <name>variableDefaultChippedTileNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Chipped_tile_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Clean_free_of_glue_Notes__c}</description>
        <name>variableDefaultCleanAndFreeOfGlueNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Clean_free_of_glue_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Comment__c}</description>
        <name>variableDefaultComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Comment__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Confirm_of_Bathrooms__c}</description>
        <name>variableDefaultConfirmNumberOfBathrooms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <elementReference>objTheSelectedQCRecord.Confirm_of_Bathrooms__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Confirm_of_Mud_Bottom_Showers__c}</description>
        <name>variableDefaultConfirmNumberOfMudBottomShowers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <elementReference>objTheSelectedQCRecord.Confirm_of_Mud_Bottom_Showers__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultCorbelNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Corbel_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Countertop_Notes__c}</description>
        <name>variableDefaultCountertopNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Countertop_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultCutsAroundPlugsNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Cuts_around_plugs_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Cuts_neat_clean_around_windows_sills__c}</description>
        <name>variableDefaultCutsAroundWindowsAndSillsNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Cuts_around_windows_sills_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Damage_to_baseboard_Notes__c}</description>
        <name>variableDefaultDamageToBaseboardNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Damage_to_baseboard_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Damage_to_cabinets_doors_walls_Notes__c}</description>
        <name>variableDefaultDamageToCabinetsDoorsWallsNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Damage_to_cabinets_doors_walls_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultDamageToTubsAndPansNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Damage_to_tubs_pans_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Deco_Notes__c}</description>
        <name>variableDefaultDecoNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Deco_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultDishwasherClipsBuilderReqNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Dishwasher_clips_builder_req_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Does_Shower_Bath_Need_Field_Measure__c}</description>
        <name>variableDefaultDoesShowerBathNeedFieldMeasure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Does_Shower_Bath_Need_Field_Measure__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Door_jambs_Notes__c}</description>
        <name>variableDefaultDoorJambsNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Door_jambs_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Doors_rehung_install_Notes__c}</description>
        <name>variableDefaultDoorsRehungAndInstallNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Doors_rehung_install_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Electrical_cord_Notes__c}</description>
        <name>variableDefaultElectricalCordNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Electrical_cord_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultExtraMaterialNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Extra_material_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Eye_protection_hard_hat_Notes__c}</description>
        <name>variableDefaultEyeProtectionAndHardHatNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Eye_protection_hard_hat_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Face_hearth_Notes__c}</description>
        <name>variableDefaultFaceAndHearthNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Face_hearth_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultFloorPlanNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Floor_Plan_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Floors_covered_Notes__c}</description>
        <name>variableDefaultFloorsCoveredNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Floors_covered_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Gaps_at_base_Notes__c}</description>
        <name>variableDefaultGapsAtBase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Gaps_at_base_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Gaps_at_stairs_Notes__c}</description>
        <name>variableDefaultGapsAtStairsNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Gaps_at_stairs_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Garage_floor_Notes__c}</description>
        <name>variableDefaultGarageFloorNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Garage_floor_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Garage_Notes__c}</description>
        <name>variableDefaultGarageNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Garage_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Grout_color_Notes__c}</description>
        <name>variableDefaultGroutColorNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Grout_color_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Grout_haze_Notes__c}</description>
        <name>variableDefaultGroutHazeNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Grout_haze_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Grout_joint_Notes__c}</description>
        <name>variableDefaultGroutJointNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Grout_joint_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Grout_joint_spaced_Notes__c}</description>
        <name>variableDefaultGroutJointSpacedNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Grout_joint_spaced_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Grout_Notes__c}</description>
        <name>variableDefaultGroutNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Grout_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Grout_filled_at_top_of_showers__c}</description>
        <name>variableDefaultGroutTopOfShowersNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Grout_top_of_showers_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultHeatTempOrPermanentNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Heat_temp_or_permanent_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.House_garage_perimeter_Notes__c}</description>
        <name>variableDefaultHouseGarageAndPerimeterNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.House_garage_perimeter_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.House_Paint_Notes__c}</description>
        <name>variableDefaultHousePaintNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.House_Paint_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Industry_specs_Notes__c}</description>
        <name>variableDefaultIndustrySpecsNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Industry_specs_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultInspectionByCountyNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Inspection_by_County_notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Installed_per_diagram_Notes__c}</description>
        <name>variableDefaultInstalledPerDiagramNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Installed_per_diagram_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Joint_spacing_Notes__c}</description>
        <name>variableDefaultJointSpacingNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Joint_spacing_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultMudBottomShowerNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Mud_Bottom_Shower_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Pan_square_Notes__c}</description>
        <name>variableDefaultPanSquareNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Pan_square_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_Cabinets_Installed__c}</description>
        <name>variableDefaultPictureCabinetCondition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_Cabinets_Installed__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_Cabinets_Installed__c}</description>
        <name>variableDefaultPictureCabinetInstall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_Cabinets_Installed__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_Countertops_Installed__c}</description>
        <name>variableDefaultPictureCountertop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_Countertops_Installed__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_Extra_Material__c}</description>
        <name>variableDefaultPictureExtraMaterial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_Extra_Material__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_Gap_Between_Tile_and_Tub__c}</description>
        <name>variableDefaultPictureGapBetweenTileAndTub</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_Gap_Between_Tile_and_Tub__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_Garage_Cleaned__c}</description>
        <name>variableDefaultPictureGarageCleaned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_Garage_Cleaned__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_House_and_Perimeter_Clean__c}</description>
        <name>variableDefaultPictureHouseAndPerimeterClean</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_House_and_Perimeter_Clean__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_House_Painted__c}</description>
        <name>variableDefaultPictureHousePainted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_House_Painted__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_Pan_Square__c}</description>
        <name>variableDefaultPicturePanSquare</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_Pan_Square__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_Proper_Spacing_Baseboard_FirePl__c}</description>
        <name>variableDefaultPictureProperSpacingBaseboardFirePlace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_Proper_Spacing_Baseboard_FirePl__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_Shower_Bath_Field_Measure__c}</description>
        <name>variableDefaultPictureShowerBathFieldMeasure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_Shower_Bath_Field_Measure__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_Slab_Tolerance__c}</description>
        <name>variableDefaultPictureSlabTolerance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_Slab_Tolerance__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_Trim_Baseboard_Installed__c}</description>
        <name>variableDefaultPictureTrimBaseboardInstalled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_Trim_Baseboard_Installed__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_Tub_Condition__c}</description>
        <name>variableDefaultPictureTubCondition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_Tub_Condition__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_Tub_Deck_Ready_For_Install__c}</description>
        <name>variableDefaultPictureTubDeckReadyForInstall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_Tub_Deck_Ready_For_Install__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Picture_Wall_Plumb__c}</description>
        <name>variableDefaultPictureWallPlumb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Picture_Wall_Plumb__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultSeamSealerNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Seam_sealer_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Seams_Notes__c}</description>
        <name>variableDefaultSeamsNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Seams_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultSeamsProperlyDoneNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Seams_properly_done_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Shower_Bath_Configuration_Notes__c}</description>
        <name>variableDefaultShowerBathConfigNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Shower_Bath_Configuration_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultShowerPanAndDrainWeSupplyNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Shower_pan_drain_we_supply_notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultSinkClipsNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Sink_clips_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Slab_Adjustment_Notes__c}</description>
        <name>variableDefaultSlabAdjustmentNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Slab_Adjustment_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultSpacingBaseboardsAndFirePlaceNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Spacing_baseboards_fire_place_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultSplashCaulkedNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Splash_caulked_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Stain_match_floors_Notes__c}</description>
        <name>variableDefaultStainMatchFloorsNote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Stain_match_floors_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Tile_bonded_Notes__c}</description>
        <name>variableDefaulttileBondedNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Tile_bonded_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Tile_cut_Notes__c}</description>
        <name>variableDefaultTileCutNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Tile_cut_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Trim_Baseboard_Notes__c}</description>
        <name>variableDefaultTrimBaseboardNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Trim_Baseboard_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Trimmed_out_Notes__c}</description>
        <name>variableDefaultTrimmedOutNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Trimmed_out_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultTrimNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Trim_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableDefaultTubConditionNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Tub_Condition_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Tub_Deck_Notes__c}</description>
        <name>variableDefaultTubDeckNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Tub_Deck_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Tubs_pans_protected_Notes__c}</description>
        <name>variableDefaultTubsAndPansProtectedNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Tubs_pans_protected_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Wall_board_install_Notes__c}</description>
        <name>variableDefaultWallBoardInstallNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Wall_board_install_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Wall_plumb_Notes__c}</description>
        <name>variableDefaultWallPlumbNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Wall_plumb_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>{!objTheSelectedQCRecord.Weep_holes_Notes__c}</description>
        <name>variableDefaultWeepHolesNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objTheSelectedQCRecord.Weep_holes_Notes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>variableFileWoodInstallExtraMaterialPicture</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Wood Install Extra Material</stringValue>
        </value>
    </variables>
    <variables>
        <name>variableFileWoodInstallProperSpacingPicture</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Wood Install Proper Spacing Picture</stringValue>
        </value>
    </variables>
    <variables>
        <name>varShowBathFieldMeasureFile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Shower Bath Field Measure Photo</stringValue>
        </value>
    </variables>
    <variables>
        <name>varShowWallPlumbFile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Wall plumb Photo</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSlabAdjustmentFile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Slab Adjustment Photo</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTempString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
