force-app/main/default/flows/Create_House_Notes_from_QC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Note_Exists</name>
        <label>Note Exists?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Update_Content_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UpdateNotes</defaultConnectorLabel>
        <rules>
            <name>CreateNotes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QC_Record.Spot_bonding_Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_note</targetReference>
            </connector>
            <label>CreateNotes</label>
        </rules>
    </decisions>
    <formulas>
        <name>QCTitle</name>
        <dataType>String</dataType>
        <expression>{!Get_QC_Record.QCType__c} + &apos;_&apos; + {!Get_QC_Record.Name}</expression>
    </formulas>
    <interviewLabel>Create House Notes from QC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create House Notes from QC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>content_note_0</name>
        <label>content note</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Update_Note_Id_on_QC</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>create_note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Get_QC_Record.House_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_note</name>
        <label>create note</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>content_note_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>Get_QC_Record.Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>QCTitle</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_QC_Record</name>
        <label>Get QC Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Note_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QCRecId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quality_Control__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Content_Document</name>
        <label>Update Content Document</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_QC_Record.Spot_bonding_Notes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>Get_QC_Record.Comment__c</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Note_Id_on_QC</name>
        <label>Update Note Id on QC</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QCRecId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Spot_bonding_Notes__c</field>
            <value>
                <elementReference>create_note</elementReference>
            </value>
        </inputAssignments>
        <object>Quality_Control__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_QC_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>QCRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
