force-app/main/default/flows/Multi_Family_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Those_the_opportunity_have_a_related_Account</name>
        <label>Those the opportunity have a related Account?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Lookup_field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Product_Type__c})  + &quot; - &quot; + TEXT({!$Record.Brand_Manufacturer__c}) + &quot; - &quot; + {!$Record.Style__c} + &quot;(&quot; +TEXT({!$Record.Product_Style_Number__c}) + &quot;)&quot; +  &quot; - &quot; + {!$Record.Color__c} + &quot;(&quot; +TEXT({!$Record.Color_Number__c}) + &quot;)&quot;</expression>
    </formulas>
    <interviewLabel>Multi-Family Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Multi-Family Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_Lookup_field</name>
        <label>Update Account Lookup field</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Multi_Family_Product_Name</name>
        <label>Update Multi-Family Product Name</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Those_the_opportunity_have_a_related_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FormulaName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Multi_Family_Product_Name</targetReference>
        </connector>
        <object>Multi_Family_Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
