force-app/main/default/flows/Opportunity_Closed_Won_Creates_a_Multifamily_New_Construction_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Multifamily_Products_To_Collection</name>
        <label>Assign Multifamily Products To Collection</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>VarM_ProductsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarM_ProductSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Multifamily_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Multifamily_Products_To_Single</name>
        <label>Assign Multifamily Products To Single</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>VarM_ProductSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multifamily_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarM_ProductSingle.Multifamily_New_Construction_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Multifamily_New_Construction_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Multifamily_Products_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Market_To_Collection</name>
        <label>Assign Opportunity Market To Collection</label>
        <locationX>138</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>VarO_MarketCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarO_MarketSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Market</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Market_To_Single</name>
        <label>Assign Opportunity Market To Single</label>
        <locationX>138</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>VarO_MarketSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Market.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarO_MarketSingle.Multifamily_New_Construction_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Multifamily_New_Construction_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Market_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_Construction_Opportunity</name>
        <label>New Construction Opportunity?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Construction_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Multifamily_New_Construction_Project</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>$Record.Account.Name + &quot; &quot; + $Record.Name + &quot; &quot; + &quot;Project&quot;</expression>
    </formulas>
    <interviewLabel>Opportunity: Closed Won Creates a {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Closed Won Creates a Multifamily New Construction Project</label>
    <loops>
        <name>Loop_Multifamily_Products</name>
        <label>Loop Multifamily Products</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_all_Related_Multifamily_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Multifamily_Products_To_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Multifamily_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opportunity_Market</name>
        <label>Loop Opportunity Market</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <collectionReference>Get_Related_Opportunity_Market</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_Market_To_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_Markets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Multifamily_New_Construction_Project</name>
        <label>Create Multifamily New Construction Project</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_all_Related_Multifamily_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicable_Division__c</field>
            <value>
                <elementReference>$Record.Applicable_Divisions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bundling__c</field>
            <value>
                <elementReference>$Record.Bundling__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Won_Date__c</field>
            <value>
                <elementReference>$Record.Contract_Won_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Product_Family__c</field>
            <value>
                <elementReference>$Record.Primary_Product_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Type__c</field>
            <value>
                <elementReference>$Record.Project_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Areas__c</field>
            <value>
                <elementReference>$Record.Service_Areas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Units__c</field>
            <value>
                <elementReference>$Record.of_Units__c</elementReference>
            </value>
        </inputAssignments>
        <object>Multifamily_New_Construction_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_all_Related_Multifamily_Products</name>
        <label>Get all Related Multifamily Products</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Multifamily_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Multi_Family_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Opportunity_Market</name>
        <label>Get Related Opportunity Market</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunity_Market</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Market__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Multifamily_Products</name>
        <label>Update Multifamily Products</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Get_Related_Opportunity_Market</targetReference>
        </connector>
        <inputReference>VarM_ProductsCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Markets</name>
        <label>Update Opportunity Markets</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <inputReference>VarO_MarketCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Construction_Opportunity</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarM_ProductsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Multi_Family_Product__c</objectType>
    </variables>
    <variables>
        <name>VarM_ProductSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Multi_Family_Product__c</objectType>
    </variables>
    <variables>
        <name>VarO_MarketCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Market__c</objectType>
    </variables>
    <variables>
        <name>VarO_MarketSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Market__c</objectType>
    </variables>
</Flow>
