force-app/main/default/flows/Update_Manufacturing_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Collection</name>
        <label>Assign Collection</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>VarCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Multi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single</name>
        <label>Assign Single</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>VarSingle.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Carpet_Spec_Levels__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Carpet_Spec_Levels__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.ADG_Flex_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.ADG_Flex_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Brand_Manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Brand_Manufacturer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Style__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Style__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Product_Style_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Product_Style_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Color_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Color_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.LVP_Spec_Levels__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.LVP_Spec_Levels__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Sheet_Vinyl_Spec_Levels__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Sheet_Vinyl_Spec_Levels__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Cushion_Spec_Levels__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Cushion_Spec_Levels__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Other_Carpet_Spec_Level_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Other_Carpet_Spec_Level_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Other_LVP_Spec_Level_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Other_LVP_Spec_Level_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Other_Sheet_Vinyl_Spec_Level_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Other_Sheet_Vinyl_Spec_Level_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Other_Cushion_Spec_Level_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Cushion_Spec_Levels__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingle.Other_Brand_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Multi.Other_Brand_Details__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Related_Opp_Exist</name>
        <label>Related Opp Exist?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_Opportunity__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Multi_Family_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Manufacturing Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Manufacturing Program</label>
    <loops>
        <name>Loop_Multi</name>
        <label>Loop Multi</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Multi_Family_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create Multiple Product Family</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>VarCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Multi_Family_Products</name>
        <label>Get Multi Family Products</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Multi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Multi_Family_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Triggered_Opportunity</name>
        <label>Update Triggered Opportunity</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Related_Opp_Exist</targetReference>
        </connector>
        <inputAssignments>
            <field>Manufacturing_Program__c</field>
            <value>
                <elementReference>$Record.Related_Opportunity__r.Manufacturing_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Triggered_Opportunity</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012O50000002XpVIAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012O50000002XpXIAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012O50000002XpWIAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Multi_Family_Product__c</objectType>
    </variables>
    <variables>
        <name>VarSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Multi_Family_Product__c</objectType>
    </variables>
</Flow>
