force-app/main/default/flows/Work_Order_Assign_FM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Copy_1_of_Work_Order_Type</name>
        <label>Work Order Type</label>
        <locationX>974</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cabinet_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cabinet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCabinetWorkOrder</targetReference>
            </connector>
            <label>Cabinet Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>WCCV_or_Arlun</name>
        <label>WCCV or Arlun</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WCCV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCCV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Order_Type</targetReference>
            </connector>
            <label>WCCV</label>
        </rules>
        <rules>
            <name>Arlun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arlun</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Entity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Arlun</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Work_Order_Type</targetReference>
            </connector>
            <label>Arlun Denver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Order_Type</name>
        <label>Work Order Type</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Update_Other_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delivery_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Delivery_Work_Order</targetReference>
            </connector>
            <label>Delivery Work Order</label>
        </rules>
        <rules>
            <name>Pre_Walk_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PRE-WALK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pre_Walk_FM</targetReference>
            </connector>
            <label>Pre-Walk Work Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Work Order: Assign FM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Assign FM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Branch_Location</name>
        <label>Get Branch Location</label>
        <locationX>842</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WCCV_or_Arlun</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Account.Location__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Account.Entity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Delivery_Work_Order</name>
        <label>Update Delivery Work Order</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Field_Service_Manager__c</field>
            <value>
                <elementReference>Get_Branch_Location.Default_WO_Delivery__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Branch_Location.Default_WO_Delivery__r.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Other_WO</name>
        <label>Update Other WO</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Field_Service_Manager__c</field>
            <value>
                <elementReference>Get_Branch_Location.Default_WO_Field_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Branch_Location.Default_WO_Field_Manager__r.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pre_Walk_FM</name>
        <label>Update Pre-Walk FM</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Field_Service_Manager__c</field>
            <value>
                <elementReference>Get_Branch_Location.Default_WO_Pre_Walk__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Branch_Location.Default_WO_Pre_Walk__r.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCabinetWorkOrder</name>
        <label>Update Cabinet Work Order</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Field_Service_Manager__c</field>
            <value>
                <elementReference>Get_Branch_Location.Cabinet_Field_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Branch_Location.Cabinet_Field_Manager__r.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Branch_Location</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>Account_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Peninsula</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Denver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Arlun</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
